.lb_copyright
{
    margin: var(--padding) auto;
    padding: var(--padding);
    width: 75%;
    text-align: center;
}

@media (max-width: 768px) {
    .lb_copyright
    {
        width: 90%;
    }
}