:root
{
    --puzzle-size: 48px;
}

.ms-game-msgbox{
    display: block;
    margin: var(--padding) auto;
}

.ms-game-msgbox p{
    line-height: 68px;
    text-align:center;
    color:#f00;
    font-size:125%;
    font-weight: bold;
}

.Puzzle15Solver
{
    border: none;
    width: calc((var(--puzzle-size) + var(--padding)) * 4);
}

.Puzzle15Solver td
{
    width: var(--puzzle-size);
    height: var(--puzzle-size);
}

.btn
{
    font-weight: bold;
    margin: var(--padding) auto;
    padding: var(--padding);
    width: calc((var(--puzzle-size) + var(--padding)) * 4);
    display: block;
}

.btn15
{
    font-weight: bold;
}

.Puzzle15Solver td
{
    width: 25%;
    text-align: center;
}