:root
{
    --socials-icon-size: 32px;
}

.lb_participant_icons
{
    display: flex;
    padding: var(--padding);
}

.lb_participant_icons img
{
    width: var(--socials-icon-size);
    height: var(--socials-icon-size);
    border: none;
    padding: 0 var(--padding);
}

@media (max-width: 768px) {
    :root
    {
        --socials-icon-size: 24px;
    }
}